html {
   font-family: Verdana, Geneva, sans-serif;
}

.utility-info {
    border: 1px solid darkblue ;
    text-align: center;
    background-color: lightblue;
}

.r-form-button {
    float: right;
}

.r-doc-num-chkbox {
    font-size: 75%;
    font-weight: bold;
}

.r-doc-num {
    vertical-align: center;
}
